:root {
    --background-primary: #ad0101;
    --background-secondary: #eaf9f9;
    --btn-primary: #97d830;
    --btn-secondary: #769a23;
    --text-primary: #fff;
    --text-secondary: #363535;
    --accent: #7cd302
}